<!DOCTYPE html>
<html>
<head>
	<title>Login Page!</title>
</head>
<body>
	<h1>Login/Registration Page!</h1>
<!-- 	{% if messages %}{{messages}}{% endif %}
 -->	
 	<p>Registration:</p>
	<form action="/registration" method="post">
		{% csrf_token %}
		First Name: <input type="text" name="first_name" /><br>
		Last Name: <input type="text" name="last_name" /><br>
		Email: <input type="text" name="email" /><br>
		Password: <input type="password" name="password" /><br>
		Password Confirm: <input type="password" name="password2" /><br>
		<button type="submit">Yes</button>
	</form>
	{% if messages %}
	{% for message in messages %}
	{{message}}
	{% endfor %}
	{% endif %}

	<p>Login:</p>
	<form action="/login" method="post">
		{% csrf_token %}
		Email: <input type="text" name="email" /><br>
		Password: <input type="text" name="password" /><br>
		<button type="submit">Login</button>
	</form>
</body>
</html>